.calendar-container {
    display: flex;
    background: var(--display-background-color);
    height: var(--calendar-container-height);
    width: var(--calendar-container-width);
    float: right;
    align-self: center;
}
