.timeblock-container {
    /* outline: 1px dotted royalblue; */
    background-color: rgb(163, 219, 238);
    border-radius: var(--time-block-border-radius);
    margin: .1rem;
    color:rgb(6, 55, 95);
}

.timeblock-title-container, .timeblock-time-container {
    border-radius: var(--time-block-border-radius) var(--time-block-border-radius) 0  0;
    padding: .1rem .35rem;
    padding: .1rem .35rem;
    font-size: .9rem;
}

.timeblock-title-container {
    background-color: inherit;
    mix-blend-mode: multiply;
}